<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="misapplication-tap-highlight" content="no" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="320" />
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/swiper.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../js/public/common.js"></script>
	<script type="text/javascript" src="../js/public/immersed.js"></script>
	<script type='text/javascript' src='../js/public/jquery-2.1.4.min.js'></script>
	<script type='text/javascript' src='../js/public/swiper.min.js'></script>
	<script src="../js/public/vue.js"></script>
	<title>张氏</title>
</head>

<body style="background: #fff;">
	<div id="app" v-cloak>
		<error-msg :msg="msg" ref="msg"></error-msg>
		<div class="index-genealogy">
			<div class="wrap">
				<ul class="change-type">
					<li v-for="(item, index) in relationshipCon" :class="{'on': tabIndex == index}" @click="shift(index)">{{item}}</li>
				</ul>
				<div class="info-modify adjust">
					<div class="row">
						<div class="col-m-6">
							<div class="label">省：</div>
							<div class="cont">
								<select @change="changeProv" v-model="form.province">
									<option value="">请选择</option>
									<option :value="item.id" v-for="item in provList">{{item.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-m-6">
							<div class="label">市：</div>
							<div class="cont">
								<select v-model="form.city">
									<option value="">请选择</option>
									<option :value="item.id" v-for="item in cityList">{{item.name}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-m-6">
							<div class="label">谱名：</div>
							<div class="cont">
								<input type="text" placeholder="请输入" v-model="form.name" />
							</div>
						</div>
						<div class="col-m-6">
							<div class="label">堂号：</div>
							<div class="cont">
								<input type="text" placeholder="请输入" v-model="form.hallName" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-m-6">
							<div class="label">姓名：</div>
							<div class="cont">
								<input type="text" placeholder="请输入" v-model="form.memberName" />
							</div>
						</div>
						<div class="col-m-6">
							<div class="layerBtns">
								<div class="btn close" @click="clearData">清空</div>
								<div class="btn" @click="search">查询</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<ul class="list marTop">
				<li v-for="(item, index) in data" @click="clickeded('/genealogydetail.html?id=' + item.id + '&title=' + item.name + '&time=' + formatDate(item.createTime), item.disabled)">
					<!--<div class="pic">
						<img :src="'../book/' + (index + 1) + '/index.jpg'" alt="">
					</div>-->
					<!--<h1>张氏族谱卷一</h1>-->
					<div class="pic" :types="'type' + (item.docType + 1)">
						<div class="bg"></div>
						<div class="title">
							<div class="top"></div>
							<div class="middle">
								<p>{{item.name}}</p>
							</div>
							<div class="bottom"></div>
						</div>
					</div>
					<!--<h1>张氏族谱卷一</h1>-->
					<p class="name">{{item.province}}-{{item.city}}</p>
					<p class="name">{{formatDate(item.createTime)}}</p>
				</li>
			</ul>
		</div>
		<load-more :datalength="datalength" ref="load"></load-more>
	</div>
	<script type='text/javascript' src='../js/public/global.js'></script>
	<script type='text/javascript' src='../js/page/genealogylist.js'></script>
</body>

</html>