<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta name="misapplication-tap-highlight" content="no"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<link href="../css/swiper.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/LCalendar.min.css">
    <script type="text/javascript" src="../js/public/LCalendar.min.js"></script>
    <script type="text/javascript" src="../js/public/common.js"></script>
    <script type="text/javascript" src="../js/public/immersed.js"></script>
	<script type='text/javascript' src='../js/public/jquery-2.1.4.min.js'></script>
	<script type='text/javascript' src='../js/public/swiper.min.js'></script>
	<script src="../js/public/vue.js"></script>
    <title>张氏</title>
</head>
<body style="background: #f2f0f0;">
	<div id="app" v-cloak>
		<error-msg :msg="msg" ref="msg"></error-msg>
        <div class="info-modify">
            <div class="pic"><img :src="form.image" alt=""><input type="file" accept="image/*" @change="showImg"></div>
            <div class="row">
                <div class="label">用户名：</div>
                <div class="cont">
                    {{form.loginName}}
                </div>
            </div>
            <div class="row">
                <div class="label">昵称：</div>
                <div class="cont">
                    <input type="text" placeholder="输入昵称" v-model="form.nickName">
                </div>
            </div>
            <div class="row">
                <div class="label">出生年月：</div>
                <div class="cont">
                    <input type="text" placeholder="输入出生日期：xxxx-xx-xx" v-model="form.birthday" readonly="" name="input_date" placeholder="请输入日期" id="calendar" />
                </div>
            </div>
            <div class="row">
                <div class="label">性别：</div>
                <div class="cont">
                    <span class="radio" v-for="(item, index) in sexCon" :class="{'on': tabIndex == index}" @click="tabIndex=index">{{item}}</span>
                </div>
            </div>
        </div>
        <div class="landing marginB32">
            <div class="main-btn" @click="submit">提交</div>
        </div>
	</div>
	<script type='text/javascript' src='../js/public/global.js'></script>
	<script type='text/javascript' src='../js/page/infomodify.js'></script>
</body>
</html>